<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">WPD2 Exercise Planner</span>
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="text-right">
                    <a href="#" class="btn btn-primary">
                        Share
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>