<nav class="navbar navbar-light bg-light mb-5">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1"><a class="text-decoration-none navbar-text" href="/">WPD2 Exercise Planner</a></span>
        <span class="navbar-text">{{user}}</span>
    </div>
</nav>